<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Consul" version="0.7.2.6" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net472" />
  <package id="EPPlus" version="5.1.2" targetFramework="net472" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net472" developmentDependency="true" />
</packages>